body {
    background-color: rgb(177, 240, 242);
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: small;
}


.mapdiv{
    width:30%;
    margin: auto;
    margin-top: 40px;
    
}

#map {
    max-width: 100%; /* Adjust the max-width as needed */
    height: auto; /* Allow the map to adjust its height based on the width */
}

.mapdiv path {
    /* fill: rgb(136, 132, 113); */
    fill: #08a246;
    stroke: #363837;
    stroke-width:4px;
    transition: fill 0.3s;
}

.mapdiv :hover {
    fill:#6bd67d;
}



.container {
    position: fixed;
    top: 20px; /* Adjust this value to position the table vertically */
    right: 20px; /* Adjust this value to position the table horizontally */
    width: 400px; /* Adjust the width of the table */
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.5); /* Add a transparent background with blur effect */
    backdrop-filter: blur(10px); /* Apply a blur effect */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Add shadow for depth */
}

#weatherData {
    width: 100%;
    border-collapse: collapse;
}

#weatherData th,
#weatherData td {
    padding: 8px;
    text-align: left;
}

#weatherData th {
    background-color: #08a246;
    color: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

#weatherData tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}


body{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    
}

/* Containers */
.container-fluid{
    padding: 7% 15%;
}

/*Headings*/

.big-h1{
    font-size: 3.5rem;
    line-height: 1.5;
}

.section-heading{
    font-size: 3rem;
    line-height: 1.5;
}

/* Sections */

.coloured{
    background-color: #0E1432;
    color: #fff;
}

.white-sec{
    background-color: #fff;
}

/* Navigation Bar */
.navbar{
    padding: 0 0 4.5rem;
}

.navbar-brand{
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item{
    padding: 0 18px;
}

.nav-link{
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

/* Download Buttons */

.download-button{
    margin: 5% 3% 5% 0;
}

/* Title Section */

#title .container-fluid{
    padding: 3% 15% 7%;
    text-align: left;
}

.title-img{
    width: 275px;
    transform: rotate(25deg);
    position: absolute;
    right: 22%;
}

/* Features Section */

#features{
    position: relative;
    z-index: 1;
}

.feature-box{
    padding: 5%;
}
.fa-circle-check{
    color: #ef8172;
    margin-bottom: 1rem;
}
.fa-circle-check:hover{
    color: #ff4c68;
}

.fa-bullseye{
    color: #ef8172;
    margin-bottom: 1rem;
}
.fa-bullseye:hover{
    color: #ff4c68;
}
.fa-heart{
    color: #ef8172;
    margin-bottom: 1rem;
}
.fa-heart:hover{
    color: #ff4c68;
}

.feature-title{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 1.5rem;

}

.fp{
    color: #8f8f8f;
}

/* Testimonials Section */

#testimonials{
    background-color: #ef8172;
}
.testimonial-text{
    font-size: 3rem;
    list-style: 1.5;
}



.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

#press{
    background-color: #ef8172;
    padding-bottom: 3%;

}

.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}

/* Pricing Section */

#pricing{
    padding: 100px;
}

.pricing-column {
    padding: 3% 2%;
}

.price-text{
     font-size: 3rem;
     line-height: 1.5;
}

@media (max-width: 1028px){

    #title{
        text-align: center;
    }

    .title-img{
        position: static;
        transform: rotate(0);
    }
}

/* Call to Action Section */

#cta{
    padding: 7% 15% 10%;
}

.hcta{
    font-size: 3.5rem;
    line-height: 1.5;
}


/* Footer section */

.copyright-icons{
    margin: 20px 10px;
}